
<!DOCTYPE html>
<head>
    <title>Lab 5 Write DB</title>
</head>

<body>
<div id="confirmationArea"></div>

<script>

    const xhttp = new XMLHttpRequest();


    xhttp.open("GET", "/questions", true);
    xhttp.send();
    xhttp.onreadystatechange = function () {
        console.log("xhttp ready");
        if (this.readyState == 4 && this.status == 200) {
            let jsonObj = JSON.parse(this.responseText);
            let divLocation = document.getElementById("confirmationArea");
            for (let i = 0; i < jsonObj.length; i++) {
                console.log((jsonObj[i]))
            }
        }
    };


</script>
</body>
